.container {
  h6 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 1rem 0;
  }
  .forecast-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 10px 16px;
    background-color: white;
    align-items: center;
    border-radius: 3px;
    max-height: 3.5rem;

    .dtls-box {
      display: flex;
      justify-content: space-around;

      .weather-mood {
        max-width: 3rem;
      }
      .humidity {
        max-height: 1.5rem;
      }
    }
  }
}
